---
import type { DiscordInfo } from '@utils/fetch-discord-info';

interface Props {
	discordData: DiscordInfo;
}

const { discordData } = Astro.props;
---

<div class="discord-info-wrapper">
	<h3>Discord</h3>

	<ul class="list-table">
		<li>
			<span class="lbl">Server Name</span>
			<span class="val"
				><img src={discordData.icon} width="16" />{discordData.name}</span
			>
		</li>
		<li>
			<span class="lbl">Member Count</span>
			<span class="val"
				>{discordData.memberCount} ({discordData.memberOnlineCount} online)</span
			>
		</li>
		<li>
			<span class="lbl">Initial Channel</span>
			<span class="val">{discordData.channel}</span>
		</li>
		<li>
			<span class="lbl">Inviter</span>
			<span class="val">{discordData.inviter || 'Anon'}</span>
		</li>
		<li>
			<span class="lbl">Join Link</span>
			<span class="val"
				><a href={`https://discord.com/invite/${discordData.inviteCode}`}
					>discord.com/invite/{discordData.inviteCode}</a
				></span
			>
		</li>
	</ul>

	{
		discordData.banner && (
			<img class="banner" width="300" src={discordData.banner} />
		)
	}
</div>

<style lang="scss">
	@use '../../styles/mixins' as *;
	.discord-info-wrapper {
		display: flex;
		flex-direction: column;
		max-width: 400px;
	}

	@include detail-info-base;

	h3 {
		margin: 0;
		font-size: var(--text-xl);
	}

	ul {
		&.list-table li {
			.lbl {
				font-weight: 400;
			}
			.val {
				img {
					margin-right: var(--space-sm);
				}
			}
		}
	}

	.banner {
		width: 80%;
		margin: var(--space-md) auto 0 auto;
		display: flex;
		border-radius: var(--curve-md);
	}
</style>
