---
import Button from '@components/form/Button.astro';
import { parseMarkdown, formatLink } from '@utils/parse-markdown';
import type { Service } from 'src/types/Service';
import FontAwesome from '@components/form/FontAwesome.svelte';
import DeleteListing from '@components/things/DeleteListing.svelte';
import ServiceIcon from '@components/things/ServiceIcon.astro';
import { slugify } from '@utils/fetch-data';

import GitHubMetrics from '@components/things/ItemGitHubMetrics.astro';
import SaveListing from '@components/things/SaveListing.svelte';

interface Props {
	services: Service[];
	subHeading?: boolean;
	buttonLink?: string;
	noGitHubMetrics?: boolean;
	sectionName: string;
	categoryName: string;
}

const {
	services,
	subHeading,
	buttonLink,
	noGitHubMetrics,
	sectionName,
	categoryName,
} = Astro.props;
---

<section>
	{
		services && services.length > 0 ? (
			<ul>
				{services.map((service: Service) => (
					<li id={slugify(service.name)}>
						<DeleteListing
							client:load
							categoryName={categoryName}
							sectionName={sectionName}
							serviceName={service.name}
						/>
						<div class="save-listing">
							<SaveListing
								client:visible
								categoryName={categoryName}
								sectionName={sectionName}
								serviceName={service.name}
							/>
						</div>
						<div class="service-head">
							<ServiceIcon
								name={service.name}
								url={service.url}
								icon={service.icon}
							/>

							<a
								class="service-title"
								href={`/${slugify(categoryName)}/${slugify(sectionName)}/${slugify(service.name)}`}
							>
								{subHeading ? <h4>{service.name}</h4> : <h3>{service.name}</h3>}
							</a>
							{service.followWith && (
								<p class="follow-with">({service.followWith})</p>
							)}
							<a class="service-link" href={service.url}>
								{formatLink(service.url)}
							</a>
						</div>
						<div class="service-body">
							<p set:html={parseMarkdown(service.description)} />
							<div class="service-stats">
								<div class="left">
									{service.securityAudited && (
										<span
											class="meta-item great"
											title={`${service.name} has been security audited by an accredited auditor, with results published publicly`}
										>
											<FontAwesome iconName="securityAudited" /> Security
											Audited
										</span>
									)}
									{service.acceptsCrypto && (
										<span
											class="meta-item great"
											title={`${service.name} accepts anonymous payment methods`}
										>
											<FontAwesome iconName="cryptoAccepted" /> Crypto Payments
											Accepted
										</span>
									)}
									{service.securityAudited === false && (
										<span
											class="meta-item warning"
											title={`${service.name} has not been audited`}
										>
											<FontAwesome iconName="notSecurityAudited" /> No Security
											Audit
										</span>
									)}
									{service.openSource === false && (
										<span class="warning">
											<FontAwesome iconName="closedSource" />
											Not Open Source
										</span>
									)}
									{service.openSource ||
									(service.github && service.openSource !== false) ? (
										<span
											class="meta-item great"
											title={`${service.name} is open source`}
										>
											<FontAwesome iconName="openSource" /> Open Source
										</span>
									) : null}
									{service.github && !noGitHubMetrics && (
										<GitHubMetrics github={service.github} />
									)}
									{service.github && noGitHubMetrics && (
										<span
											class="meta-item"
											title={`View ${service.name} on GitHub`}
										>
											<a
												href={`https://github.com/${service.github}`}
												target="_blank"
											>
												<FontAwesome iconName="github" /> {service.github}
											</a>
										</span>
									)}
								</div>
								<div class="view-service">
									<a
										href={`/${slugify(categoryName)}/${slugify(sectionName)}/${slugify(service.name)}`}
									>
										View {service.name} Report
									</a>
								</div>
							</div>
						</div>
					</li>
				))}
			</ul>
		) : (
			<p class="nothing-yet">
				<>
					<strong>⚠️ This section is still a work in progress ⚠️</strong>
					<br />
				</>
				Check back soon, or help us complete it by submiting a pull request on
				GitHub.
				<br />
				<span class="quick-submit">
					Or submit an entry <a href="/submit">here</a>
				</span>
			</p>
		)
	}

	{
		buttonLink && (
			<Button
				title={`View all ${categoryName}`}
				className="view-all"
				text="View More..."
				url={buttonLink}
			/>
		)
	}
</section>

<style lang="scss">
	@use '../../styles/mixins' as *;
	section {
		padding: var(--space-md) 0;
		position: relative;
		&:not(:last-child) {
			border-bottom: 2px solid var(--accent-3);
		}
	}

	.nothing-yet {
		font-size: var(--text-lg);
		opacity: var(--opacity-subtle);
		font-style: italic;
		text-align: center;
		margin-bottom: var(--space-xl);
		.quick-submit {
			margin-top: var(--space-md);
			font-size: var(--text-sm);
			opacity: var(--opacity-subtle);
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 var(--space-xl) 0;
		li {
			margin-bottom: var(--space-md);
			position: relative;
			.save-listing {
				position: absolute;
				right: var(--space-md);
				top: var(--space-md);
			}
			.service-head {
				display: flex;
				align-items: center;
				gap: var(--space-sm);
				flex-wrap: wrap;
				.service-title {
					text-decoration: none;
					color: var(--foreground);
					@include underline-hover(var(--accent-3));
					h3,
					h4 {
						margin: 0;
						font-size: var(--text-xl);
					}
				}

				:global(.service-icon-wrap) {
					width: 2.5rem;
					height: 2.5rem;
					border-radius: var(--curve-sm);
					overflow: hidden;
					color: var(--accent);
				}
				.follow-with {
					opacity: var(--opacity-soft);
					font-style: italic;
					margin: 0;
				}
				.service-link {
					max-width: 300px;
					@include truncate;
				}
			}

			.service-body {
				margin: var(--space-sm) 0 var(--space-lg);
				opacity: var(--opacity-subtle);
				:global(p) {
					margin: 0;
					font-size: var(--text-md);
					:global(a) {
						color: var(--foregorund);
					}
				}
				.service-stats {
					.left {
						display: flex;
						gap: var(--space-md);
						flex-wrap: wrap;
						align-items: center;
					}
					display: flex;
					gap: var(--space-md);
					flex-wrap: wrap;
					align-items: center;
					justify-content: space-between;
				}
				.view-service {
					transition: var(--transition-normal);
					opacity: 0.95;
					a {
						padding: var(--space-xs) 0.6rem;
						width: fit-content;
						right: var(--space-md);
						font-size: var(--text-sm);
						background: var(--accent-3);
						color: var(--accent-fg);
						text-decoration: none;
						border-radius: var(--curve-md);
					}
					&:hover {
						opacity: 1;
						transform: scale(1.05);
					}
				}

				.meta-item,
				.warning {
					display: flex;
					align-items: center;
					gap: var(--space-xs);
					font-size: var(--text-sm);
					padding: var(--space-sm) 0;
					:global(svg) {
						color: var(--foreground);
						width: 1.2rem;
						height: 1.2rem;
					}
					a {
						text-decoration: none;
						color: var(--foreground);
						display: flex;
						gap: var(--space-xs);
						&:hover {
							color: var(--accent-3);
							:global(svg) {
								color: var(--accent-3);
							}
						}
					}
				}
				.warning {
					color: var(--danger);
					:global(svg) {
						color: var(--danger);
					}
				}
				.great {
					color: var(--success-muted);
					:global(svg) {
						color: var(--success-muted);
					}
				}
			}
		}
	}

	section :global(.view-all) {
		width: fit-content;
		position: absolute;
		right: var(--space-md);
		margin-top: -2.5rem;
		background: var(--accent-3);
	}

	li:hover :global(.actions) {
		opacity: var(--opacity-muted);
		:global(a):hover {
			opacity: 1;
		}
	}
	:global(.actions a):hover {
		opacity: 1;
	}
</style>
