---
import Layout from '@layouts/Layout.astro';
import SavedServices from '@components/things/SavedServices.svelte';

import { fetchData } from '@utils/fetch-data';
import Button from '@components/form/Button.astro';
import type { Category } from '../../types/Service';

const categories = (await fetchData())?.categories || ([] as Category[]);

export const prerender = false;

const inventoryId = Astro.params.inventoryId || 'Inventory';
let cheekyLilError = '';

function makeTitle(input: string): string {
	return (input.includes('_') ? input : `mystry_${input}`)
		.split('_')[1]
		.replace(/-/g, ' ')
		.replace(/\b\w/g, (match) => match.toUpperCase());
}

const serviceList =
	(await fetch(
		`https://awesome-privacy-share-api.as93.net/${inventoryId}`,
	).then((res) => res.json())) || [];

if (serviceList.error) {
	cheekyLilError = serviceList.error;
}
---

<Layout title="Saved Services">
	<main>
		<h2>{makeTitle(inventoryId)}</h2>
		{
			cheekyLilError && (
				<div class="error">
					<p class="oh-deary-me">An error occoured</p>
					<p class="what-the-fuck-happened">{cheekyLilError}</p>
					<p class="what-next">
						We're sorry about that.
						<br />
						Try going <a href="/">back home</a>, or{' '}
						<a href="https://github.com/Lissy93/awesome-privacy/issues/new/choose">
							raising a ticket
						</a>{' '}
						on GitHub.
					</p>
				</div>
			)
		}
		<SavedServices allData={categories} serviceList={serviceList} client:load />
		<div class="buttons">
			<p>Not found what you're looking for?</p>
			<Button url="/all">Browse Services</Button>
		</div>
	</main>
</Layout>

<style lang="scss">
	main {
		margin: 0 auto var(--space-lg) auto;
		padding: var(--space-md);
		width: var(--width-container);
		max-width: var(--width-container-max);
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		min-height: calc(100vh - 12rem);
		font-size: var(--text-md);
		h2 {
			font-family: var(--font-subtitle);
			font-weight: bold;
			font-size: var(--text-4xl);
			margin: 0;
			color: var(--accent-3);
		}
		.buttons {
			margin: var(--space-md) auto;
			display: flex;
			flex-direction: column;
		}
		.error {
			text-align: center;
			font-size: var(--text-lg);
			.oh-deary-me {
				font-size: var(--text-2xl);
				margin: 0.2rem auto;
			}
			.what-the-fuck-happened {
				color: var(--danger);
				margin: 0.2rem auto;
			}
			.what-next {
				font-size: var(--text-base);
				margin-top: var(--space-xl);
				opacity: var(--opacity-muted);
				a {
					color: var(--foreground);
				}
			}
		}
	}
</style>
