---
import Layout from '@layouts/Layout.astro';
import type { AwesomePrivacy } from '../types/Service';
import { fetchData, slugify } from '@utils/fetch-data';

const categories = ((await fetchData()) as AwesomePrivacy)?.categories || [];
---

<Layout title="All Links | Awesome Privacy">
	<main>
		<h2>Sitemap</h2>
		<p>
			Below is a full listing of all pages on this site.<br />
			<small
				>As reflected in our <a href="/sitemap-index.xml">sitemap.xml</a></small
			>
		</p>
		<span class="search-controlls">
			<input
				id="searchInput"
				type="search"
				placeholder="Start typing to filter..."
			/>
			<p id="press-enter-msg" class="press-enter">
				Press enter for deep search
			</p>
		</span>
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/search">Search</a>
			</li>
			<li>
				<a href="/all">View All</a>
			</li>
			<li>
				<a href="/changelog">Changelog</a>
			</li>
			<li>
				<a href="/inventory">My Inventory</a>
			</li>
			<li>
				<a href="/submit">Submit Listing</a>
			</li>
			<li>
				<a href="/api">API</a>
			</li>
			<li>
				<a href="/browse">Categories</a>
				<ul>
					{
						categories.map((category) => (
							<li>
								<a href={`/${slugify(category.name)}`}>{category.name}</a>
								<ul>
									{category.sections.map((section) => (
										<li>
											<a
												href={`/${slugify(category.name)}/${slugify(section.name)}`}
											>
												{section.name}
											</a>
											<ul>
												{(section.services || []).map((service) => (
													<li title={service.description || ''}>
														<a
															href={`/${slugify(category.name)}/${slugify(section.name)}/${slugify(service.name)}`}
														>
															{service.name}
														</a>
													</li>
												))}
											</ul>
										</li>
									))}
								</ul>
							</li>
						))
					}
				</ul>
			</li>
			<li>
				<a href="/about">About</a>
				<ul>
					<li><a href="/about#objective">Objective</a></li>
					<li><a href="/about#criteria">Listing Criteria</a></li>
					<li><a href="/about#contributing">Contributing</a></li>
					<li>
						<a href="/about#acknowledgements">Acknowledgements</a>
						<ul>
							<li><a href="/about#contributors">Contributors</a></li>
							<li><a href="/about#sponsors">Sponsors</a></li>
						</ul>
					</li>
					<li><a href="/about#author">Author</a></li>
					<li><a href="/about#license">License</a></li>
				</ul>
			</li>
			<li>
				<a href="/sitemap">Sitemap</a>
			</li>
		</ul>
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		// Select elements for events (search field, each result, and message str)
		const filterInput = document.querySelector<HTMLInputElement>('input');
		const pages = document.querySelectorAll<HTMLElement>('li');
		const pressEnterMsg = document.getElementById('press-enter-msg');
		if (!pressEnterMsg) throw new Error('pressEnterMsg element not found');

		// Instant search/filter functionality
		filterInput?.addEventListener('input', (e: Event) => {
			const filter = (e.target as HTMLInputElement).value.toLowerCase();
			pressEnterMsg.style.visibility = filter.length > 0 ? 'visible' : 'hidden';
			Array.from(pages).reduce((count, page) => {
				const match = page.textContent?.toLowerCase().includes(filter) || false;
				page.style.display = match ? 'block' : 'none';
				return count + (match ? 1 : 0);
			}, 0);
		});
		// Handle keypress events, so Esc clears search, and Entr runs deep search
		document.addEventListener('keydown', (event: KeyboardEvent) => {
			if (!filterInput) return;
			switch (event.key) {
				case 'Enter':
					event.preventDefault();
					const searchTerm = encodeURIComponent(filterInput.value);
					window.location.href = `/search/${searchTerm}`;
					break;
				case 'Escape':
					filterInput.value = '';
					filterInput.blur();
					pressEnterMsg.style.visibility = 'hidden';
					pages.forEach((page) => (page.style.display = 'block'));
					break;
			}
		});
	});
</script>

<style lang="scss">
	main {
		width: var(--width-container-narrow);
		max-width: var(--width-container-max);
		margin: var(--space-2xl) auto 5rem auto;
		padding: 0 var(--space-lg);
		border: var(--border-heavy);
		box-shadow: var(--shadow-lg);
		background: var(--accent-fg);
		position: relative;
		p {
			font-size: var(--text-lg);
			margin: 0;
			small {
				font-size: var(--text-sm);
				opacity: var(--opacity-dim);
				transition: var(--transition-normal);
				&:hover {
					opacity: var(--opacity-subtle);
				}
			}
		}
		ul {
			padding-left: 1.2rem;
			list-style: none;
			border-left: 3px solid var(--transparent-accent);
			border-radius: 4px;
			li {
				font-weight: 600;
				ul li {
					font-weight: 500;
					ul li {
						font-weight: 400;
						ul li {
							font-weight: 300;
						}
					}
				}
				&::before {
					content: '━ ';
					color: var(--transparent-accent);
					margin-left: -1.2rem;
				}
				a {
					transition: var(--transition-normal);
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	h2 {
		font-size: var(--text-3xl);
		margin: -2rem 0 var(--space-lg) -4rem;
		box-shadow: var(--shadow-lg);
		background: var(--accent);
		color: var(--accent-fg);
		width: fit-content;
		padding: var(--space-xs) var(--space-sm);
		@media (max-width: 768px) {
			margin: -2rem auto var(--space-md) auto;
		}
	}

	.search-controlls {
		float: right;
		top: var(--space-md);
		right: var(--space-md);
		position: absolute;
		@media (max-width: 768px) {
			position: relative;
			float: none;
			top: 0;
			right: 0;
		}
		.press-enter {
			margin: var(--space-sm) 0 0 0;
			opacity: var(--opacity-dim);
			visibility: hidden;
			font-size: var(--text-base);
		}
		input {
			padding: var(--space-xs);
			border: var(--border-heavy);
			border-radius: var(--curve-sm);
			font-size: var(--text-base);
			box-shadow: var(--shadow-sm);
			color: var(--accent-3);
			background: var(--background-form);
			&:focus {
				outline: none;
				box-shadow: var(--shadow-sm-hover);
			}
		}
	}
</style>
